/* === TELAS ATÉ 1024px (TABLETS) === */
@media (max-width: 1024px) {
  .menu {
    gap: 40px;
    font-size: 1.5rem;
  }

  .background {
    width: 100%;
    height: 110vh;
  }

  .main-content {
    padding: 3%;
    gap: 6vh;
  }

  .frase {
    font-size: 2rem;
  }

  .cards {
    padding: 1% 8% 0 0;
  }

  .cards__produtos {
    width: 20vh;
  }

  .cards span {
    font-size: 1rem;
  }

  .info__empresa__container {
    width: 80%;
    margin-top: calc(-13vh); /* Flexible overlap */
    left: 50%;
    transform: translateX(-50%);
  }

  .info__empresa__texto h3 {
    font-size: 1.2rem;
  }

  .info__empresa__texto p {
    font-size: 1rem;
  }

  .produto__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .produtos__titulo {
    padding-bottom: 5%;
  }

  .produto__item img {
    width: 80%;
  }

  .sobre__imagem img {
    width: 40vh;
  }

  .contato__conteudo {
    flex-direction: column;
  }

  .contato__telefones {
    flex-wrap: wrap;
    gap: 20px;
  }

  .contato__titulo h2 {
    font-size: 3em;
    padding-bottom: 10%;
  }

  .contato__telefone-item .numero-telefone {
    font-size: 2rem;
  }

  .contato__telefone-item .nome-contato {
    font-size: 1.6rem;
  }
}

/* === TELAS ATÉ 768px (SMARTPHONES GRANDES) === */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    gap: 2vh;
  }

  .frase {
    font-size: 2rem;
    padding: 1vh;
  }

  .cards__produtos {
    width: 25vw;
  }

  .produto__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .produto__item img {
    width: 70%;
  }

  .sobre__conteudo-principal {
    flex-direction: column;
  }

  .sobre__titulo h2 {
    padding-top: 2%;
  }

  .contato__titulo h2 {
    font-size: 2.5em;
    text-align: center;
  }
}

/* === TELAS ATÉ 480px (SMARTPHONES PEQUENOS) === */
@media (max-width: 480px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-primaria);
    position: absolute;
    top: 60px;
    left: 55%;
    width: 30%;
    gap: 30px;
    padding: 8% 20%;
    z-index: 19;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
  }

  .menu.ativo {
    display: flex;
    animation: fadeIn 0.4s ease-in-out;
  }

  .menu .logo {
    display: none;
  }

  .header {
    background: url("assets/logo.png") no-repeat center center;
    height: 16vh;
    width: 100%;
    margin-top: 3%;
    background-size: contain;
  }

  .frase {
    font-size: 1.75rem;
    padding: 2vh;
  }

  .cards {
    flex-direction: row;
    padding: 3% 5%;
    gap: 10px;
  }

  .cards__produtos {
    width: 30vw;
  }

  .info__empresa__container {
    width: 99%;
    margin-top: calc(-12vh); /* Flexible overlap */
    gap: 1vh;
    padding: 8% 0;
  }

  .info__empresa__texto h3 {
    font-size: 0.8rem;

  }

  .info__empresa__texto p {
    font-size: 0.6rem;
  }

  .produto__grid {
    grid-template-columns: 1fr;
  }

  .produtos__titulo {
    padding: 10%;
  }

  .sobre__imagem img {
    width: 70%;
    margin: 0 auto;
  }

  .contato__telefone-item {
    width: 90%;
  }
}
